<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout:: globalHead}">
    <title>구독 서비스 상세 정보</title>
</head>

<body>

<div th:replace="~{common :: header}"></div>

<div class="container mt-5">
    <h1 class="text-center mb-5">구독 서비스 상세 정보</h1>

    <div>
        <a th:href="@{/applications/{applicationId}(applicationId=${applicationId})}">애플리케이션</a>
    </div>
    <div class="card mb-3">
        <div class="card-body" th:object="${subscriptionPlan}">
            <h5 class="card-title" th:text="*{planName}"></h5>
            <p class="card-text">
                <strong>Plan ID:</strong> <span th:text="*{id}"></span><br>
                <strong>기간:</strong> <span th:text="*{duration}"></span><br>
                <strong>기간 단위:</strong> <span th:text="*{durationUnit}"></span><br>
                <strong>가격:</strong> <span th:text="*{price}"></span><br>
                <strong>할인:</strong> <span th:text="*{discount}"></span><br>
                <strong>할인 유형:</strong> <span th:text="*{discountType}"></span><br>
                <strong>할인된 가격:</strong> <span th:text="*{discountedPrice}"></span>
            </p>
            <a th:href="@{/subscription/update/{planId}(planId=*{id})}" class="btn btn-primary">수정</a>
            <form th:action="@{/subscription/delete/{planId}(planId=*{id})}" method="post">
                <button type="submit" onclick="showConfirmAndSubmit(event)">삭제</button>
            </form>
        </div>
        <div>
            <span>사용자 목록</span>
            <table class="table table-bordered mt-3">
                <thead>
                <tr>
                    <th>UserId</th>
                    <th>시작한 날짜</th>
                    <th>만료 날짜</th>
                    <th>PlanId</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="subscription : ${subscriptions}">
                    <td th:text="${subscription.customer.id}">아이디</td>
                    <td th:text="${subscription.startDate}">시작일</td>
                    <td th:text="${subscription.endDate}">종료일</td>
                    <td th:text="${subscription.status}">상태</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<script>
    function showConfirmAndSubmit(event) {
        event.preventDefault();  // 폼 제출을 일시 중지

        // 알림 표시
        if (confirm('정말 삭제하시겠습니까?')) {
            event.target.form.submit();
        }
    }
</script>
</html>
