<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout:: globalHead}">
    <title>구독 서비스 조회</title>
</head>

<body>
<div th:replace="~{common :: header}"></div>

<div class="container mt-5">

    <div th:if="${globalError} != null" class="alert alert-danger" role="alert">
        <p th:text="${globalError}"></p>
    </div>

    <h1 class="text-center mb-5" style="color: #2C3E50;">애플리케이션 상세 정보</h1>

    <div class="card mb-3 p-4 shadow-sm">
        <div th:if="${!app.getApiKey().isEmpty() && !app.getSecretKey().isEmpty()}" class="mb-3">
            <strong>애플리케이션 키:</strong> <span th:text="${app.getApiKey()}"></span><br>
            <strong>시크릿 키:</strong> <span th:text="${app.getSecretKey()}"></span><br>
            <form th:action="@{/applications/keys/generate}" method="post" class="mt-2">
                <input type="hidden" name="applicationId" th:value="${app.id}">
                <button type="submit" class="btn btn-secondary" onclick="showConfirmAndSubmit(event)">키 재발급</button>
            </form>
        </div>
        <div th:unless="${!app.getApiKey().isEmpty() && !app.getSecretKey().isEmpty()}">
            <form th:action="@{/applications/keys/generate}" method="post">
                <input type="hidden" name="applicationId" th:value="${app.id}">
                <button type="submit" class="btn btn-primary" onclick="showConfirmAndSubmit(event)">키 발급</button>
            </form>
        </div>
    </div>

    <div class="card mb-3 p-4 shadow-sm">
        <p>duplicate option: <span th:text="${app.getDuplicatePaymentOption()}"></span></p>
        <a th:href="@{/applications/{applicationId}/options(applicationId=${app.getId()})}" class="btn btn-secondary" style="width: 200px">옵션 변경</a>
    </div>

    <div class="card mb-3 p-4 shadow-sm">
        <p th:if="${totalAmount} != null" >total Amount: <span th:text="${totalAmount}"></span></p>
        <a th:href="@{/history/{applicationId}(applicationId=${app.getId()})}" class="btn btn-secondary" style="width: 200px">결제 내역</a>
    </div>


    <div class="card mb-3 p-4 shadow-sm">
        <a th:href="@{/subscription/enroll/{applicationId}(applicationId=${app.id})}" class="btn btn-secondary" style="width: 200px">Plan 등록하기</a> <!-- 여기를 수정 -->
    </div>



    <div th:each="subscriptionPlan : ${subscriptionPlans}" class="card mb-3 shadow-sm">
        <a th:href="@{/subscription/{planId}(planId=*{id})}" th:object="${subscriptionPlan}" class="card-link card-body">
            <h5 class="card-title" th:text="*{planName}"></h5>
            <p class="card-text">
                <strong>기간:</strong> <span th:text="*{duration}"></span><br>
                <strong>기간 단위:</strong> <span th:text="*{durationUnit}"></span><br>
                <strong>가격:</strong> <span th:text="*{price}"></span><br>
                <strong>할인 유형:</strong> <span th:text="*{discountType}"></span><br>
                <strong>할인 value:</strong> <span th:text="*{discount}"></span><br>
            </p>
        </a>
    </div>

    <div th:if="${subscriptionPlans.isEmpty()}" class="text-center my-4">
        <p>구독 서비스가 없습니다.</p>
    </div>

    <div class="card mb-3 p-4 shadow-sm">
        <form th:action="@{/applications/delete/{applicationId}(applicationId=${app.getId()})}" method="post" class="mt-2">
            <button type="submit" class="btn btn-danger" onclick="deleteConfirmAndSubmit(event)">애플리케이션 삭제</button>
        </form>
    </div>



</div>
</body>

<script>
    function showConfirmAndSubmit(event) {
        event.preventDefault();
        if (confirm('키를 새로 발급하시겠습니까?')) {
            event.currentTarget.form.submit();
        }
    }

    function deleteConfirmAndSubmit(event) {
        event.preventDefault();
        if (confirm('정말 삭제하시겠습니까?')) {
            event.currentTarget.form.submit();
        }
    }
</script>
</html>
