<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout:: globalHead}">
    <title>구독 서비스 플랫폼</title>
</head>
<body>

<div th:replace="~{common :: header}"></div>

<div class="container mt-5">
    <h1 class="mb-4">구독 서비스 플랫폼</h1>

    <section class="mb-5">
        <h2>구독 플랜 등록</h2>
        <div class="d-flex mt-2">
            <button class="btn btn-primary mr-2" onclick="enrollPageRedirect()">구독 생성하기</button>
        </div>
    </section>

    <section>
        <h2>My Page</h2>
    </section>
</div>
<script>
    const enrollPageRedirect = () => {
        location.href = "/subscription/enroll";
    }
</script>

</body>
</html>
