<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout:: globalHead}">
    <title>구독 서비스 플랫폼</title>
</head>
<body>

<div th:replace="~{common :: header}"></div>

<div class="container mt-5">
    <div style="height: 60px"></div>
    <h1 class="mb-4">Build with <br>Subscription Plan</h1>
    <h2 class="mb-4">추천 제품</h2>

    <div class="row">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">구독 중계 서비스</h4>
                    <p class="card-text">구독서비스를 간단하게 시작할 수 있습니다.</p>
                    <a th:href="@{/}">시작하기</a>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">결제 서비스</h4>
                    <p class="card-text">구독에 대한 결제를 xxx할 수 있습니다.</p>
                    <a th:href="@{/}">시작하기</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const enrollPageRedirect = () => {
        location.href = "/subscription/enroll";
    }
</script>

</body>
</html>
